.visor__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button {
  color: #fff;
}

button:hover {
  color: #fff;
}

button:focus {
  color: #fff;
}

button::-moz-focus-inner {
  color: #fff;
}

.visor__animation_container {
  position: absolute;
  z-index: 1;
}
